.addTodo{
	input{
		border: none;
		outline: none;
		width: 100%;
		padding: 20px;
		font-size: 2em;
		box-shadow: 0px 0px 8px #666 inset;
		background-color: #eee;
		margin-bottom: 0;
		&:active, &:focus{
			border: none;
		}
	}

}
.list{
	list-style-type: none;
	padding: 0;
	margin-top: 0;
	li{
		&.listItem-enter {
		  // opacity: 0.01;
		  // transform: translateX(0);
		}

		&.listItem-enter.listItem-enter-active {
		  // opacity: 1;
		  // transform: translateX(0);
		  // transition: all 100ms ease-in;
		}

		&.listItem-leave {
		  opacity: 1;
		}

		&.listItem-leave.listItem-leave-active {
		  opacity: 0.01;
		  transform: translateX(100%);
		  transition: all 300ms ease-in;
		}
		background: #2c3e50;
		position: relative;
		margin-bottom: 2px;
		color: #ecf0f1;
		transition: all 100ms ease-in-out;
		&:nth-child(2n){
			background: #34495e;
		}
		span{
			padding: 20px;
			display: block;
			width: 90%;
			height: 100%;
			cursor: pointer;
		}
		a{
			float: right;
			position: absolute;
			right: 0;
			top: 0;
			bottom: 0;
			width: 10%;
			border: none;
			background: #7f8c8d;
			text-align: center;
			vertical-align: middle;
			color: #ecf0f1;
			i{
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}
	}
}


